/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* Simple reset of base css stylings*/
* {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

/*/////////////////////// */
/* Home Component Styling */
/*////////////////////////*/

.home-styling {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  text-align: center;
}

.greeting h2 {
  padding: 10px;
}

/* Name Tag (Not sure I will keep this yet.*/
.greeting h3 {
  font-size: 25px;
  display: flex;
  padding: 20px;
  margin-top: 17%;
}

#underline-intro {
  text-decoration: underline;
}

#start-button {
  margin-top: 20px;
  border-width: 2px;
  border-color: black;
  border-radius: 5%;
  padding: 10px 40px;
  font-weight: bold;
}

#start-button:hover {
  background-color: rgb(228, 104, 104);;
  cursor: pointer;
}

.contact-positioning {
  text-align: left;
  margin-left: 2%;
  margin-top: 16%;
}

#contact-button {
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5%;
  border-color: black;
}

#contact-button:hover {
  background-color:rgb(228, 104, 104);;
}

/*///////////////////////////// */
/* Calculator Component Styling*/
/*/////////////////////////// */

.calculator-styling {
  text-align: center;
  margin-top: 3%;
}

.calculator-styling h1 {
  text-decoration: underline;
}

#output {
  margin-top: 1%;
}

.button-styling {
  margin-top: 20%;
  padding: 5px;
  border-color: black;
}

.button-styling:hover {
  cursor: pointer;
  background-color: rgb(164, 177, 185);
}

#clear-button {
  background-color: rgb(228, 104, 104);
}

#clear-button:hover {
  background-color: rgb(158, 47, 47);
}

#equal-button {
  background-color: lightskyblue;
}

#equal-button:hover {
  background-color: rgb(38, 105, 146);
}

.calculator-digits {
  margin-left: 42%;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
}

/*////////////////////////// */
/* Contact Component Styling*/
/*//////////////////////// */

.contact-styling {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

#contact-title {
  text-align: center;
}

.contact-information {
  text-align: center;
}

.contact-information h1 {
  text-decoration: underline;
}

.contact-buttons {
 padding: 10px;
 margin-top: 1%;
 margin-left: 1%;
 border-color: black;
}

.contact-buttons:hover {
  background-color: rgb(228, 104, 104);
}