@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* Simple reset of base css stylings*/
* {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

/* Home Component Styling */
.home-styling {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  text-align: center;
}

.greeting h2 {
  padding: 10px;
}

/* Name Tag (Not sure I will keep this yet.*/
.greeting h3 {
  font-size: 25px;
  display: flex;
  padding: 20px;
  margin-top: 17%;
}

#underline-intro {
  text-decoration: underline;
}

#start-button {
  margin-top: 20px;
  border-width: 2px;
  border-color: black;
  border-radius: 5%;
  padding: 10px 40px;
  font-weight: bold;
}

#start-button:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

/* Calculator Component Styling*/

.calculator-styling {
  text-align: center;
  margin-top: 3%;
}

#test-button {
  margin-top: 20%;
  padding: 15px 20px;
}